.dark {
  .react-daterange-picker {
    .react-daterange-picker__wrapper {
      color: var(--color-gray-100) !important;
      border-color: var(--color-gray-400) !important;
    }
  }

  .react-calendar {
    background-color: var(--color-gray-600) !important;
    color: var(--color-gray-100) !important;

    .react-calendar__tile--active {
      background-color: var(--color-gray-500) !important;
      color: var(--color-gray-100) !important;
    }

    .react-calendar__tile--now {
      color: var(--color-brand-secondary) !important;
    }

    .react-calendar__navigation button:enabled:focus,
    .react-calendar__tile:enabled:focus {
      background-color: var(--color-gray-600) !important;
    }
  }
}

.react-calendar {
  z-index: 1;
  border: 0 !important;
  padding: var(--spacing-4);
  border-radius: var(--radius-lg);
}

.react-calendar abbr {
  text-decoration: none !important;
  cursor: auto !important;
}

.react-calendar__month-view__days__day--weekend {
  color: inherit !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--color-border-color) !important;
}

.react-calendar__tile--now {
  background: inherit !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:disabled {
  border-radius: var(--radius-sm);
  background-color: var(--color-brand-primary) !important;
  color: #ffffff !important;
}

.react-daterange-picker__wrapper {
  border: 1px solid var(--color-neutral-300) !important;
  border-radius: var(--radius-full);
  padding: var(--spacing-1) var(--spacing-3) var(--spacing-1) var(--spacing-3);
}

.react-daterange-picker__inputGroup__input:invalid {
  background: inherit !important;
}

.react-calendar__tile--active {
  background-color: var(--color-brand-primary-light) !important;
  color: black !important;
}

.react-calendar__tile--hoverStart,
.react-calendar__tile--rangeStart {
  border-radius: var(--radius-sm) 0 0 var(--radius-sm) !important;
}

.react-calendar__tile--hoverEnd,
.react-calendar__tile--rangeEnd {
  border-radius: 0 var(--radius-sm) var(--radius-sm) 0 !important;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: var(--color-brand-primary) !important;
  color: #ffffff !important;
}

.react-calendar__tile--now {
  color: var(--color-danger) !important;
}
