@media (prefers-color-scheme: dark) {
  .react-daterange-picker {
    .react-daterange-picker__wrapper {
      color: theme('colors.neutral.100') !important;
      border-color: theme('colors.neutral.400') !important;
    }
  }

  .react-calendar {
    background-color: theme('colors.neutral.600') !important;
    color: theme('colors.neutral.100') !important;

    .react-calendar__tile--active {
      background-color: theme('colors.neutral.500') !important;
      color: theme('colors.neutral.100') !important;
    }

    .react-calendar__tile--now {
      color: theme('colors.brand-secondary') !important;
    }

    .react-calendar__navigation button:enabled:focus,
    .react-calendar__tile:enabled:focus {
      background-color: theme('colors.neutral.600') !important;
    }
  }
}

.react-calendar {
  z-index: 1;
  border: 0 !important;
  padding: theme('padding.4');
  border-radius: theme('borderRadius.lg');
}

.react-calendar abbr {
  text-decoration: none !important;
  cursor: auto !important;
}

.react-calendar__month-view__days__day--weekend {
  color: inherit !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: theme('colors.border-color') !important;
}

.react-calendar__tile--now {
  background: inherit !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:disabled {
  border-radius: theme('borderRadius.DEFAULT');
  background-color: theme('colors.brand-primary') !important;
  color: #ffffff !important;
}

.react-daterange-picker__wrapper {
  border: theme('borderWidth.DEFAULT') solid theme('borderColor.neutral.300') !important;
  border-radius: theme('borderRadius.full');
  padding: theme('padding.1') theme('padding.3') theme('padding.1')
    theme('padding.3');
}

.react-daterange-picker__inputGroup__input:invalid {
  background: inherit !important;
}

.react-calendar__tile--active {
  background-color: theme('colors.brand-primary-light') !important;
  color: black !important;
}

.react-calendar__tile--hoverStart,
.react-calendar__tile--rangeStart {
  border-radius: theme('borderRadius.DEFAULT') 0 0 theme('borderRadius.DEFAULT') !important;
}

.react-calendar__tile--hoverEnd,
.react-calendar__tile--rangeEnd {
  border-radius: 0 theme('borderRadius.DEFAULT') theme('borderRadius.DEFAULT') 0 !important;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: theme('colors.brand-primary') !important;
  color: #ffffff !important;
}

.react-calendar__tile--now {
  color: theme('colors.danger') !important;
}
