.dark {
  .rdg {
    color: var(--color-gray-100) !important;
  }

  .rdg-row-odd {
    background-color: var(--color-gray-800) !important;
  }

  .rdg-row-even {
    background-color: var(--color-gray-700) !important;
  }

  .rdg-header-row {
    background-color: var(--color-gray-900) !important;
  }
}

.rdg-header-row {
  background-color: var(--color-grid-background-alt);
}

.rdg-row,
.rdg {
  background-color: transparent;
}

.rdg {
  border-right: 0;
  border-left: 0;
  border-top: 0;
}

.rdg-holder {
  padding: 0 !important;
}

.rdg-row-odd {
  background-color: var(--color-grid-background-alt);
}

.rdg-header-secondary {
  font-size: 0.675rem;
  line-height: 37px;
}
