.quantity-display {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.left-modifier {
  border-radius: theme('borderRadius.full') 0 0 theme('borderRadius.full');
}

.right-modifier {
  border-radius: 0 theme('borderRadius.full') theme('borderRadius.full') 0;
}

.quantity-display {
  width: 3rem;
  min-height: 100%;
  border: 0;
  text-align: center;
}
