@import "utils/colors";
@import "utils/shadows";

.AlertsFilter {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  //justify-content: center;

  .alert-filter-dropdown {
    margin: 8px;
  }

  // Restyle the date range picker
  .alert-filter-date-range-picker {
    margin: 8px;
    .react-daterange-picker__wrapper {
      border: 1px solid $BORDER_COLOR;
      border-radius: 60px;
      font-size: 16px !important;
      height: 34px !important;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .alert-filter-reset-button {
    border: none;
    border-radius: 60px;
    padding: 4px 16px;
    background-color: $WHITE;
    color: $TEXT_SECONDARY;
    text-decoration: underline;
    font-size: 14px;
  }
}
