@use 'EllipsisLoader';
@use 'Switch';
@use 'restyles/DatePicker';
@use 'restyles/Grid';
@use 'restyles/Amplify';
@use 'restyles/Button';
@use 'PowerIcon';
@use 'tippy.js/dist/tippy.css';
@use 'restyles/Tippy';

@import url('https://fonts.googleapis.com/css?family=Roboto:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', serif !important;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
