.PowerIcon.red line {
  stroke: var(--color-red-500);
}

.PowerIcon.red path {
  stroke: var(--color-red-500);
}

.PowerIcon.green path {
  fill: var(--color-green-500);
  stroke: var(--color-green-500);
}

.PowerIcon.default line {
  stroke: var(--color-brand-primary);
}
