.SiteRow {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;

  .graph {
    margin-left: auto;
    height: 40px;
    width: 220px;
    background-color: #eef2f9;
    border-radius: 4px;
  }
}
