.SiteList {
  margin-top: 20px;

  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  .site-table-header {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
    margin-bottom: 16px;
    display: flex;

    .site-name, .device-count, .alert-count, .average, .total {
      font-size: 12px;
    }
  }

  .site-name, .device-count, .alert-count, .average, .total {
    width: 15%;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .device-count, .alert-count, .average, .total {
    text-align: end;
    padding-left: 12px;
    padding-right: 12px;
  }

  .graph {
    width: 25%;
    margin-left: 12px;
  }

  .site-name {
    padding-right: 12px;
  }
}