.switch-label {
  width: 36px;
  height: 20px;
  background: grey;
  border-radius: 20px;
  transition: background-color 0.2s;
}

.switch-label .switch-button {
  content: '';
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch-checkbox:checked + .switch-label .switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switch-checkbox:checked + .switch-label {
  background-color: var(--color-brand-primary);
}

.switch-label:active .switch-button {
  width: 16px;
}
